<div class="contain mt-5 center">
    <div class="row p-5">
        <div class="col-lg-3" *ngIf="getMovieDetailResults.poster_path else showMessage">
            <img src="https://image.tmdb.org/t/p/original/{{getMovieDetailResults.poster_path}}">
        </div>
        <ng-template class="col-lg-1" #showMessage>
            <p class="msg">No poster image available</p>
        </ng-template>

        <div class="col-lg-8">
            <h1 class="mt-2 mb-2">{{getMovieDetailResults.original_title}}</h1>
            <p class="mt-3 mb-3">{{getMovieDetailResults.overview}}</p>
            <div *ngIf="getMovieVideoResult else showTrailorMessage">
                <a class="btn btn-md" href="https://www.themoviedb.org/video/play?key={{getMovieVideoResult}}"
                    target="_blank">Watch Trailor</a>
            </div>
            <ng-template #showTrailorMessage>
                <p class="msg">No trailor available</p>
            </ng-template>>
            <div class="mt-4">
                <p class="castHeading">Top Cast</p>
                <div class="row">
                    <div class="col-lg-4" *ngFor="let c of getMovieCastResult">
                        <div class="row mt-2 mb-2" *ngIf="c.profile_path">
                            <div class="class col-lg-3">
                                <img src="https://image.tmdb.org/t/p/original/{{c.profile_path}}">
                            </div>
                            <div class="col-lg-9">
                                <h5 class="text-white castOriginal">Original name: {{c.original_name}}</h5>
                                <p class="castCharacter">Character name: {{c.character}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>