img{
    width: 100%;
    height:auto;
}

h1{
    color: #D3D3D3;
    font-weight: bold;
}

p{
    color:#D3D3D3;
}

a{
    background-color: crimson;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: crimson;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.castHeading{
    color: #D3D3D3;
    font-weight: bold;
    font-size: 22px;
}

.castOriginal{
    font-size: 16px;
    padding-top: 2px;
}

.castCharacter{
    font-size: 14px;
    padding-top: -2px;
}

.msg{
    color:crimson;
}