<div class="contain-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <ng-container *ngFor = "let result of bannerResult;let i=index">
            <div class="carousel-item active" data-bs-interval="10000"  [ngClass]="{active:i===1}">
                <img src="https://image.tmdb.org/t/p/original/{{result.backdrop_path}}" class="d-block w-100" alt="..." [routerLink]="['/movie',result.id]">
                <div class="carousel-caption d-none d-md-block">
                    <h2>{{result.original_title || result.original_name}}</h2>
                    <p>{{result.overview}}</p>
                </div>
            </div>
        </ng-container>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next"> 
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="contain mt-2 p-2">
    <div class="row">
        <h5 class="text-white tHeader">Trending Movies</h5>
        <div class="rowPoster">
            <ng-container *ngFor="let t of trendingMovieResult">
                <img src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" 
                class="rowImg largePoster" 
                alt="..."
                [routerLink]="['/movie',t.id]">
            </ng-container>
        </div>
    </div>
</div>

<div class="contain mt-2 p-2">
    <div class="row">
        <h5 class="text-white tHeader">Documantory Movies</h5>
        <div class="rowPoster">
            <ng-container *ngFor="let a of documantoryMovieResult">
                <img src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" 
                class="rowImg largePoster" 
                alt="..."
                [routerLink]="['/movie',a.id]">
            </ng-container>
        </div>
    </div>
</div>

<div class="contain mt-2 p-2">
    <div class="row">
        <h5 class="text-white tHeader">Comedy Movies</h5>
        <div class="rowPoster">
            <ng-container *ngFor="let a of comedyMovieResult">
                <img src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" 
                class="rowImg largePoster" 
                alt="..."
                [routerLink]="['/movie',a.id]">
            </ng-container>
        </div>
    </div>
</div>






