.tHeader{
    font-size: 15px;
}

.carousel-inner{
    height: 500px;
}

.carousel-inner .carousel-item img{
    height: 500px;
}

.carousel-caption h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p{
    color: #ffffff;
}

.rowPoster{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowImg{
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 8px;
} 

.rowImg:hover{
    transform: scale(1.09);
    cursor: pointer;
}

.largePoster{
    max-height: 300px;
}

.rowPoster::-webkit-scrollbar{
    display: none;
}