<div class="contain mt-5 p-5 text-center">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-11">
                <input type="text" class="form-control" placeholder="Search movie here..." formControlName="movieName">
            </div>

            <div class="col-lg-1">
                <button class="btn btn-md">Search</button>
            </div>
        </div>
    </form>

    <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResult">
            <div class="row" *ngIf="s.poster_path">
                <div class="col-lg-3 mt-3 mb-3">
                    <img src="https://image.tmdb.org/t/p/original/{{s.poster_path}}" [routerLink]="['/movie',s.id]">
                </div>
                <div class="col-lg-9 mt-3 mb-3">
                    <h6>{{s.original_title}}</h6>
                    <p>{{s.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</div>