button{
    background-color: crimson;
    color: #ffffff;
}

button:hover{
    background-color: #ffffff;
    color: crimson;
}

img{
    width: 100%;
    cursor: pointer;
}

h6,p{
    color:#D3D3D3;
    text-align: left;
}

p{
    font-size: 12px;
}