/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Times New Roman", Times, serif;
    background-color: #000000;
    overflow-x: hidden;
}